body {
    margin:0;
    padding:0;
    font-family: Arial, Helvetica, sans-serif;
}
h1 {
    padding:10px 0 0 0;
    margin: 0px;
    color:#ffffff;
    font-size:40px;
    font-weight:400;
    float:left;
    position:relative;
    right:122px;
}
h2 {
    font-size: 1.25rem;
    float:left;
    margin:0px;
    padding:10px 0 5px;
    color: #404040;
    font-weight: normal;
    border-bottom: 3px solid #A92C24;
}
p {
    font-size:.8rem;
}
.clear {
    clear:both;
}
/* Top Bar */
#top-bar {
    width:1300px;
    margin:0 auto;
    height:40px;
}
.topbar-section {
    float:left;
    border-left: 1px solid #cccccc;
    height:100%;
}
#logo {
    margin:4px 8px 0 8px;
    width:9%;
    height:auto;
    float:left;
}
#signin-logo {
    width:40px;
    margin: 4px 6px 6px 6px;
    float:left;
}
#signin-text {
    font-weight:bold;
    font-size:80%;
    position: relative;
    top:14px;
    padding: 0 70px 0 0;
}
.topbar-menu {
    font-weight:bold; 
    font-size:80%; 
    padding: 14px 15px;
    height: 8px;
}
#downarrow {
    height:12px;
    padding: 0 0 0 45px;
}
.topbar-section input {
    background-color: rgba(228, 228, 228, 1.0);
    border:none;
    margin:8px 0 0 13px;
    font-weight: bold;
    width:175px;
    padding: 4px;
    font-size:85%;
    color:rgba(51, 51, 51, 1.0);
}
#magnifyingglass {
    height:18px;
    position:relative;
    right:32px;
    top:3px;
}
/* End Top Bar */
/* Menu Bar */
#menu-bar-container {
    height: 100px;
    background-color:#A92C24;
    width:100%;
}
#menu-bar {
    width:1300px;
    margin:0 auto;
    height:40px;
}
#find-local-news {
    float:right;
    color:#ffffff;
    border: 1px solid #ffffff;
    padding:8px 50px 8px 12px;
    position:relative;
    top:20px;
    right:135px;
    font-size: 90%;
}
#find-local-news a {
    color:#ffffff;
    text-decoration:none;
}
#find-local-news a:hover{
    color: rgb(220, 220, 220);
    text-decoration:underline;
}
#menu-bar-2-container {
    float:left;
    height:100%;
    width:100%
}
#menu-bar-2 {
    width:1300px;
    margin:15px auto;
}

#menu-bar-2 a {
    text-decoration:none;
    color:#ffffff;
    padding: 5px 8px;
    border-left: 1px solid #A92C24; 
    font-size:87%;
}
#menu-bar-2 a:first-child{
    border:none;
}
#menu-bar-2 a img {
    height:13px;
}
/* End Menu Bar */
/* Page Contents */
#page-contents {
    width:1300px;
    margin:0 auto;
    height:40px;
    padding-left:15px;
}
#posts-container{
    margin-top:20px;
}
    /* Featured Post */
    #featured-post {
        float:left;
        max-width:500px;
    }
    #featured-post img {
        height: 275px;
    }
    #featured-post-title {
        font-weight:700;
        font-size:1.75rem;
        float:left;
        color:#222222;
    }
    #featured-post-excerpt {
        float:left;
        color:#5A5A5A;
        margin-top:10px;
        font-size:.9rem;
    }
    #featured-post a {
        text-decoration:none;
    }
    #featured-post-title:hover {
        text-decoration: underline;
        color: #4082A0;
    }
    #featured-post-meta {
        color: #5A5A5A;
        font-size:.8rem;
        position:relative;
        top:15px;
    }
    #featured-post-meta a {
        color: #222222;
        text-decoration:none;
    }
    #featured-post-meta a:hover {
        text-decoration: underline;
        color: #4082A0;
    }
    #featured-post-meta img {
        height:15px;
        position:relative;
        top:3px;
    }
    /* End Featured Post */
    /* All Posts */
    .post-title {
        font-size:1rem;
        color:#222222;
        font-weight:700;
    }
    .post-excerpt {
        color:#5a5a5a;
    }
    .post a {
        text-decoration:none;
    }
    .post img {
        height: 133px;
    }
    .post-meta {
        color: #5A5A5A;
        font-size:.8rem;
        position:relative;
        top:15px;
    }
    .post-meta a {
        color: #222222;
        text-decoration:none;
    }
    .post-meta a:hover {
        text-decoration: underline;
        color: #4082A0;
    }
    .post-meta img {
        height:15px;
        position:relative;
        top:3px;
    }
    /* End All Posts */
/* End Page Contents */