body {
    margin:0;
    padding:0;
    font-family: Arial, Helvetica, sans-serif;
}
p {

    font-size:.9rem;
}
#top-bar {
    width:1000px;
    margin:0 auto;
    height:40px;
}
#logo {
    margin:8px 8px 0 8px;
    width:10%;
    height:auto;
    float:left;
}
#signin-logo {
    width:40px;
    margin: 6px;
    float:left;
}
#signin-text {
    font-weight:bold;
    font-size:90%;
    position: relative;
    top:16px;
}
.topbar-section {
    float:left;
    border-left: 1px solid #cccccc;
    height:100%;
}