body {
    background-color:#f1f1f1;
}
p {
    font-family: Helvetica, Arial, sans-serif;
}
h1, h2, h3, h4, h5, h6 {
    color:navy;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.red {
    color:red;
}

.large {
    font-size:200%;
}

#goldenrod {
    color:goldenrod;
}

#first-section {
    width:40%;
    background-color:pink;
    position:relative;
    margin-top:100px;
}

#second-section {
    background-color:yellow;
    width:40%;
}

#third-section {
    position:fixed;
}
