.circle {
    height:200px;
    width:200px;
    border-radius: 50%;
    float:left;
    margin:15px;
}
#redCircle {
    background-color:rgb(255, 69, 69);
}
#blueCircle {
    background-color:rgb(69, 69, 255);
}
#yellowCircle {
    background-color:rgb(255, 255, 69);
}
#disappearingCircles {
    display:none;
}