body {
    font-family: sans-serif;
}
p, li, ul {
    font-size: .9rem;
}
.menu {
    background-color:black;
    width:100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: flex-start;
    position:absolute;
    top:0; 
    left:0;
}
#logo {
    padding:5px 0 0 5px;
    width:11%;
}
#logo img {
    width:100%;
    height:auto;
}
#menu-items {
    float:right;
}
#menu-items ul{
    display:flex;
    align-items: stretch;
    list-style: none;
    color:#ffffff;
}
#menu-items li{
    padding:0 10px 0 10px;
    border-left: 1px solid #ffffff;

} 
#menu-items li:last-child {
    border-right:1px solid #ffffff;
}